.bottom {
  background-image: linear-gradient(var(--shadow-color), var(--shadow-color)), url("./img/bottom.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--light-text-color);
  text-align: center;
}

.bottom__container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.bottom__subtitle {
  margin-bottom: 19px;
}

.bottom__content {
  font-weight: 500;
  margin-bottom: 44px;
  letter-spacing: 1px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 37px;
  border: none;
}

.form__input {
  border-radius: 50px;
  width: 423px;
  border: 2px solid #ffffff;
  background-color: transparent;
  padding: 9px 26px;
  outline: none;
}

.bottom__link {
  color: #4a76a8;
  border-bottom: 1px solid #4a76a8;
}

.bottom__button {
  margin-bottom: 52px;
  padding: 12px 38px;
}

@media(max-width:1024px) {
  .form__input {
    font-size: 20px;
    width: 380px;
  }
  .bottom__button {
    margin-bottom: 30px;
  }
  .bottom__agreement {
    font-size: 17px;
  }
  .bottom__container {
    padding-bottom: 56px;
    background-size: auto 100%;
  }
}

@media(max-width:860px) { 
  .bottom__container {
    padding-top: 50px;
  }
  .bottom__content {
    font-size: 16px;
  }
  .bottom__agreement {
    font-size: 14px;
  }
}

@media(max-width:480px) {
  .bottom__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .bottom__subtitle {
    margin-bottom: 10px;
  }
  .bottom__content {
    font-size: 12px;
    margin-bottom: 35px;
  }
.form__fieldset {
  padding: 0;
}
  .form__input {
    font-size: 14px;
    width: 100%;
  }  
  .bottom__agreement {
    font-size: 11px;
  }
}