.call {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.call__phone,
.call__link {
  font-weight: 400;
  color: var(--light-text-color);
}

.call__phone {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 3px;
}

.call__link {
  font-size: 16px;
  line-height: 19px;
  border-bottom: 1px solid var(--light-text-color);
}

@media(max-width: 1024px) {
  .call__phone {
    font-size: 21px;
    line-height: 23px;
  }
  .call__link {
    font-size: 13px;
  }
} 

@media(max-width: 480px) {
  .call {
    display: none;
  }
} 