.footer {
  color: var(--light-text-color);
}

.footer__container {
  display: flex;
  background-color: var(--footer-color);
  padding: 45px 200px;
  margin: 0 auto;
}

.footer__logo {
  margin-right: 19px;
}

.footer__nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  flex-grow: 1;
}

.footer__copyright, 
.footer__made {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

