.footer {
  color: var(--light-text-color);
}

.footer__container {
  display: flex;
  background-color: var(--footer-color);
  padding: 45px 200px;
  margin: 0 auto;
}

.footer__logo {
  margin-right: 19px;
}

.footer__nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  flex-grow: 1;
}

.footer__copyright, 
.footer__made {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

.footer__made_adaptive {
  display: none;
  background-color: #2A2C3F;
  text-align: center;
  font-size: 12px;
  padding: 15px 0;
}

@media(max-width:1100px) {
  .footer__container {
    padding: 37px 30px 49px;
  }
}

@media(max-width:768px) {
  .footer__made {
    display: none;
  }
  .footer__container {
    padding: 25px 15px;
  }
  .footer__made_adaptive {
    display: block;
  }
}

@media(max-width:480px) {
  .footer__copyright {
    font-size: 8px;
    line-height: 11px;
  }
}

