.header {
  background-image: linear-gradient(var(--shadow-color), var(--shadow-color));
}

.header__box {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
}

.call-svg {
  display: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #555a7b;
  background-image: url("./img/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media(max-width: 1024px) {
  .header__box {  
    padding-top: 26px;
  }
  .wrapper {
    background-size: auto 100%;
  }
} 

@media(max-width: 480px) {
  .call-svg {
    display: block;
  }
  .header__box {  
    padding-top: 15px;
  }
} 
