.header {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}

.header__box {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
}


.call-svg {
  display: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #555a7b;
  background-image: url("./img/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media(max-width: 1100px) {
  .header__box {  
    padding-top: 27px;
  }
} 


@media(max-width: 480px) {
  .call-svg {
    display: block;
  }
  .header__box {  
    padding-top: 15px;
  }
} 
