.middle {
  text-align: center;
  border: 1px solid blue;
}

.middle__hr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.middle__hr:before,
.middle__hr:after {
  content: "";
  display: inline-block;
  width: 43px;
  height: 2px;
  background-color: var(--dark-text-color);
}

.middle__hr:before {
  margin-right: 23px;
}

.middle__hr:after {
  margin-left: 23px;
}

.middle__content {
  max-width: 750px;
  font-size: 18px;
  line-height: 25px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.middle__list {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  counter-reset: count 0;
}

.advantage {
  flex-basis: 196px;
}

.advantage:before {
  content: counter(count);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background-color: var(--accent-color);
  counter-increment: count;
  font-weight: 500;
  font-size: 57px;
  color: var(--light-text-color);
  margin: 0 auto;
  margin-bottom: 16px;
}

@media(max-width:1200px) {
  .middle__content {
    max-width: 650px;    
    font-size: 16px;
    line-height: 23px;
  }
  .advantage:before {
    width: 104px;
    height: 104px;
    font-size: 52px;
  }
  .middle__list {
    font-size: 18px;
    line-height: 23px;
  }
}

@media(max-width:900px) {
  .middle__hr {    
    font-size: 16px;
    margin-bottom: 26px;
  }
  .middle__hr:before,
  .middle__hr:after {
    width: 20px;
    height: 1px;
  }
  .middle__hr:before {
    margin-right: 20px;
  }
  .middle__hr:after {
    margin-left: 20px;
  }
  .middle__list {
    flex-wrap: wrap;
    column-gap: 120px;
  }
}

@media(max-width:480px) {
  .middle__list {
    row-gap: 40px;
  }
}

@media(max-width:360px) {
  .middle__content {
    font-size: 12px;
    line-height: 17px;
  }
}