.top {
  background-image: linear-gradient(var(--shadow-color), var(--shadow-color));
  color: var(--light-text-color);
  text-align: center;
  /* border: 1px solid red; */
}

.top__container {
  max-width: 990px;
  margin: 0 auto;
}

.top__title {
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  margin-bottom: 32px;
}

.top__content {
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 89px;
}

.top__button {
  margin-bottom: 119px;
}

@media(max-width:1024px) {
  .top__container {
    max-width: 780px;
  }
  .top__title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 28px;
  } 
  .top__content {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 60px;
  }
  .top__button {
    margin-bottom: 70px;
  }
}

@media(max-width:860px) {
  .top__container {
    padding: 0 7%;
  }
  .top__title {
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 23px;
  } 
  .top__content {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 54px;
  }
}

@media(max-width:420px) {
  .top__title {
    font-size: 24px;
    line-height: 30px;
  } 
  .top__content {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 54px;
  }
}

@media(max-width:320px) {
  .top__container {
    padding: 0 15px;
  }
  .top__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 23px;
  } 
  .top__content {
    font-size: 14px;
    line-height: 20px;
  }
  .top__button {
    margin-bottom: 65px;
  }
}