:root {
  --background-color: #F9F9F9;
  --dark-text-color: #383A4C;
  --light-text-color: #ffffff;
  --accent-color: #23C7EC;
  --shadow-color: rgba(47, 50, 75, 0.85);
  --footer-color: #2F324B;
}