@font-face {
    font-family: Roboto;
    src: local("Roboto"), url("./assets/roboto-v30-latin_cyrillic-regular.woff2") format("woff2") , url("./assets/roboto-v30-latin_cyrillic-regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: local("Roboto Regular"), local("Roboto-Regular"), url("./assets/roboto-v30-latin_cyrillic-500.woff2") format("woff2") , url("./assets/roboto-v30-latin_cyrillic-500.woff") format("woff");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: local("Roboto Bold"), local("Roboto-Bold"), url("./assets/roboto-v30-latin_cyrillic-700.woff2") format("woff2") , url("./assets/roboto-v30-latin_cyrillic-700.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: local("Roboto Black"), local("Roboto-Black"), url("./assets/roboto-v30-latin_cyrillic-900.woff2") format("woff2") , url("./assets/roboto-v30-latin_cyrillic-900.woff") format("woff");
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: Pacifico;
    src: local("Pacifico"), url("./assets/pacifico-v22-latin-regular.woff2") format("woff2") , url("./assets/pacifico-v22-latin-regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}